@import 'colors';
@import 'skill-icons';

.background-color(@color, @angle: 90deg) when (@color = 'red') {
	background-color: @red500;
	background: linear-gradient(@angle, @red300 -10%, @red400 30%, @red600 80%, @red700 100%);
}

.background-color(@color, @angle: 90deg) when (@color = 'grey') {
	background-color: @bluegrey500;
	background: linear-gradient(@angle, @bluegrey400, @bluegrey600);
}

.background-color(@color, @angle: 90deg) when (@color = 'lightgrey') {
	background-color: @bluegrey500;
	background: linear-gradient(@angle, @bluegrey300, @bluegrey200 5%, @bluegrey100 10%, @bluegrey50 30%, @grey50);
}

body {
	.background-color('grey');
}

#about {
	@media (min-width: 1660px) {
		margin: 0 0 0 220px;
	}

	.section-background-text {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 16px;
		font-weight: 400;
		transform-origin: bottom right;
		transform: scale(20);

		@media (max-width: 760px) {
			transform: scale(15);
		}

		@media (max-width: 640px) {
			transform: scale(12.5);
		}

		@media (max-width: 520px) {
			transform: scale(10);
		}

		@media (max-width: 400px) {
			transform: scale(7.5);
		}
	}

	.section {
		position: relative;
		color: @white;
		overflow: hidden;

		.container {
			position: relative;
		}
	}

	.section-header {
		.background-color('red', -135deg);
		height: 420px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		z-index: 1;

		.section-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.section-background-pattern {
				word-wrap: break-word;
				font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.1);
			}

			.section-background-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.page-title {
			position: absolute;
			bottom: 32px;
			width: 100%;
		}

		h1 {
			margin: 0;
			font-weight: 100;
			font-size: 96px;
			opacity: 0.87;
		}

		h2 {
			margin: 0 0 8px 0;
			font-weight: 400;
			font-size: 18px;
			color: rgba(255, 255, 255, 0.7);
		}
	}

	.section-intro {
		.background-color('grey', -90deg);

		// &::before {
		// 	.section-background-text;
		// 	content: 'me';
		// 	color: @bluegrey50;
		// 	opacity: 0.03;
		// 	z-index: 2;
		// }

		.section-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.section-background-image {
				width: 1000px;
				height: 550px;
				margin: 0 auto;
				background-image: url('../img/about-background.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				z-index: 1;
				opacity: 0.2;

				@media (max-width: 1000px) {
					width: 100%;
					background-size: auto 100%;
					background-position: 50% 50%;
				}

				@media (max-width: 760px) {
					height: 100%;
				}
			}
		}

		.section-content {
			padding: 160px 0;
			position: relative;

			@media (max-width: 760px) {
				text-align: center;
			}

			h3 {
				margin: 12px 0;
				font-size: 80px;
				font-family: 'Shadows Into Light Two', cursive;
				opacity: 0.87;
			}

			h4 {
				margin: 0;
				font-weight: 300;
				font-size: 16px;
			}

			.social-links {
				margin: 16px 0 0 8px;

				@media (max-width: 760px) {
					margin: 16px 0 0 0;
				}

				.social-link {
					font-size: 24px;
					margin: 0 12px;
					transition: all .3s;
					height: 48px;
					width: 48px;
					text-align: center;
					line-height: 48px;
					border-radius: 2px;
					opacity: 0.87;

					&:hover {
						background-color: @grey50;
						background: linear-gradient(135deg, @white, @grey300);
						color: @grey700;
					}
				}
			}

			.latest-tweet-frame {
				text-align: center;
				width: 400px;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;

				@media (max-width: 760px) {
					position: static;
					margin: 60px 0 0 0;
					width: 100%;
				}

				.latest-tweet {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: rgba(255, 255, 255, 0.8);

					@media (max-width: 760px) {
						position: static;
						transform: translateY(0);
					}

					.tweet-content {
						line-height: 32px;
						font-weight: 300;
						font-size: 18px;
					}

					.tweet-date {
						font-size: 14px;
						font-style: italic;
						vertical-align: middle;
					}

					.tweet-user {
						font-size: 14px;
						vertical-align: middle;
					}

					.separator {
						display: inline-block;
						margin: 0 6px;
						font-size: 24px;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.section-intro-2 {
		.background-color('red', -45deg);
		box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
		text-align: center;
		z-index: 1;

		&::before {
			.section-background-text;
			content: 'about';
			color: @red50;
			opacity: 0.05;
		}

		.section-content {
			padding: 96px 0;
			position: relative;

			p {
				font-weight: 400;
				font-size: 20px;
				padding: 0;
				margin: 36px auto;
				line-height: 36px;
				color: rgba(255, 255, 255, 0.7);
				width: 50%;

				@media (max-width: 760px) {
					width: 100%;
				}

				.highlight {
					color: @white;
					font-style: italic;
				}
			}
		}
	}

	.section-tags {
		.background-color('lightgrey', 90deg);

		&::before {
			.section-background-text;
			content: 'skills';
			color: @bluegrey500;
			opacity: 0.02;
		}

		.section-content {
			padding: 96px 0;
		}

		.about-tags {
			text-align: center;

			.about-tag {
				display: inline-block;
				font-weight: 300;
				padding: 0 16px 0 4px;
				margin: 8px 4px;
				border-radius: 2px;
				cursor: default;
				vertical-align: middle;
				transition: all .2s;
				color: @bluegrey500;

				&::before {
					display: inline-block;
					vertical-align: top;
					margin: 8px;
					opacity: 0.6;
					-webkit-filter: grayscale(50%);
					filter: grayscale(50%);
					content: '';
					background-size: 100% 100%;
					background-repeat: no-repeat;
					transition: all .2s;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
					color: @bluegrey700;

					&::before {
						opacity: 1;
						-webkit-filter: grayscale(0);
					}
				}

				.maketag(@name) {
					&.tag-@{name} {
						&::before {
							.icon(@name);
						}
					}
				}

				.maketag(angular);
				.maketag(apache);
				.maketag(csharp);
				.maketag(coffeescript);
				.maketag(css);
				.maketag(git);
				.maketag(html);
				.maketag(illustrator);
				.maketag(jade);
				.maketag(js);
				.maketag(jquery);
				.maketag(less);
				.maketag(mercurial);
				.maketag(nodejs);
				.maketag(others);
				.maketag(photoshop);
				.maketag(php);
				.maketag(python);
				.maketag(ruby);
				.maketag(shell);
				.maketag(sql);
				.maketag(swift);
			}
		}

		.about-tags-main {
			font-size: 24px;

			.about-tag {
				height: 64px;
				line-height: 64px;

				&::before {
					width: 48px;
					height: 48px;
				}
			}
		}

		.about-tags-sub {
			font-size: 16px;

			.about-tag {
				height: 42px;
				line-height: 42px;

				&::before {
					width: 26px;
					height: 26px;
				}
			}
		}

		@media(max-width: 760px) {
			.about-tags {
				font-size: 20px;

				.about-tag {
					height: 48px;
					line-height: 48px;

					&::before {
						width: 32px;
						height: 32px;
					}
				}
			}
		}
	}

	.section-footer {
		.background-color('grey', -135deg);
		box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);

		.section-content {
			text-align: center;
			padding: 36px 0;

			p {
				vertical-align: middle;
				font-weight: 300;
				font-size: 18px;
			}

			.separator {
				display: inline-block;
				vertical-align: middle;
				font-size: 32px;
				margin: 0 18px;
			}
		}
	}
}
