@import 'colors';
@import 'skill-icons';
@import 'library';

.background-color(@color, @angle: 90deg) when (@color = 'red') {
	background-color: @red500;
	background: linear-gradient(@angle, @red300 -10%, @red400 30%, @red600 80%, @red700 100%);
}

.background-color(@color, @angle: 90deg) when (@color = 'grey') {
	background-color: @bluegrey500;
	background: linear-gradient(@angle, @bluegrey400, @bluegrey600);
}

.background-color(@color, @angle: 90deg) when (@color = 'lightgrey') {
	background-color: @bluegrey500;
	background: linear-gradient(@angle, @bluegrey300, @bluegrey200 5%, @bluegrey100 10%, @bluegrey50 30%, @grey50);
}

body {
	.background-color('grey');
}

#about {
	@media (min-width: 1660px) {
		margin: 0 0 0 220px;
	}

	.section-background-text {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 16px;
		font-weight: 400;
		transform-origin: bottom right;
		transform: scale(20);

		@media (max-width: 760px) {
			transform: scale(15);
		}

		@media (max-width: 640px) {
			transform: scale(12.5);
		}

		@media (max-width: 520px) {
			transform: scale(10);
		}

		@media (max-width: 400px) {
			transform: scale(7.5);
		}
	}

	.section {
		position: relative;
		color: @white;
		overflow: hidden;

		.container {
			position: relative;
		}
	}

	.section-header {
		.background-color('red', -135deg);
		height: 420px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		z-index: 2;

		.section-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.section-background-pattern {
				word-wrap: break-word;
				font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.1);
			}

			.section-background-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.page-title {
			position: absolute;
			bottom: 32px;
			width: 100%;
		}

		h1 {
			margin: 0;
			font-weight: 100;
			font-size: 96px;
			opacity: 0.87;
		}

		h2 {
			margin: 0 0 8px 0;
			font-weight: 400;
			font-size: 18px;
			color: rgba(255, 255, 255, 0.7);
		}
	}

	.section-intro {
		.background-color('grey', -90deg);

		.section-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.section-background-image {
				width: 1000px;
				height: 550px;
				margin: 0 auto;
				background-image: url('../img/about-background.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				z-index: 1;
				opacity: 0.2;

				@media (max-width: 1000px) {
					width: 100%;
					background-size: auto 100%;
					background-position: 50% 50%;
				}

				@media (max-width: 760px) {
					height: 100%;
				}
			}
		}

		.section-content {
			padding: 160px 0;
			position: relative;

			@media (max-width: 760px) {
				text-align: center;
			}

			h3 {
				margin: 12px 0;
				font-size: 80px;
				font-family: 'Shadows Into Light Two', cursive;
				opacity: 0.87;

				@media (max-width: 400px) {
					font-size: 72px;
				}
			}

			h4 {
				margin: 0;
				font-weight: 300;
				font-size: 16px;
			}

			.social-links {
				margin: 16px 0 0 8px;

				@media (max-width: 760px) {
					margin: 16px 0 0 0;
				}

				.social-link {
					font-size: 24px;
					margin: 0 12px;
					transition: all .3s;
					height: 48px;
					width: 48px;
					text-align: center;
					line-height: 48px;
					border-radius: 2px;
					opacity: 0.87;

					&:hover {
						background-color: @grey50;
						background: linear-gradient(135deg, @white, @grey300);
						color: @grey700;
					}
				}
			}

			.latest-tweet-frame {
				text-align: center;
				width: 400px;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;

				@media (max-width: 760px) {
					position: static;
					margin: 60px 0 0 0;
					width: 100%;
				}

				.latest-tweet {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					color: rgba(255, 255, 255, 0.8);

					@media (max-width: 760px) {
						position: static;
						transform: translateY(0);
					}

					.tweet-content {
						line-height: 32px;
						font-weight: 300;
						font-size: 18px;
					}

					.tweet-date {
						font-size: 14px;
						font-style: italic;
						vertical-align: middle;
					}

					.tweet-user {
						font-size: 14px;
						vertical-align: middle;
					}

					.separator {
						display: inline-block;
						margin: 0 6px;
						font-size: 24px;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.section-intro-2 {
		.background-color('red', -45deg);
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
		text-align: center;
		z-index: 2;

		&::before {
			.section-background-text;
			content: 'about';
			color: @red50;
			opacity: 0.05;
		}

		.section-content {
			padding: 96px 0;
			position: relative;

			p {
				font-weight: 400;
				font-size: 20px;
				padding: 0;
				margin: 36px auto;
				line-height: 36px;
				color: rgba(255, 255, 255, 0.7);
				width: 50%;

				@media (max-width: 760px) {
					width: 100%;
				}

				.highlight {
					color: @white;
					font-style: italic;
				}
			}
		}
	}

	.section-stats {
		.background-color('grey', -90deg);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		z-index: 1;

		&::before {
			.section-background-text;
			content: 'stats';
			color: @bluegrey50;
			opacity: 0.05;
		}

		.section-content {
			padding: 96px 0;
		}

		.stats {
			font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
			font-size: 18px;
			text-align: center;

			@media (max-width: 760px) {
				text-align: left;
			}

			.stats-item {
				display: inline-block;
				height: 32px;
				line-height: 32px;
				margin: 0 16px;

				@media (max-width: 760px) {
					margin: 0;
					display: block;
				}

				.stats-item-title {
					display: inline-block;
					vertical-align: top;

					@media (max-width: 760px) {
						width: 96px;
					}

					@media (max-width: 400px) {
						width: 64px;
					}
				}

				.stats-item-bar-frame {
					display: inline-block;
					width: 128px;
					height: 20px;
					margin: 6px;
					border-radius: 2px;
					border: 1px solid currentColor;
					vertical-align: top;
					overflow: hidden;
					position: relative;
					box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

					@media (max-width: 760px) {
						width: 48px;
						margin: 6px 0;
						border-color: transparent;
						box-shadow: none;
						overflow: visible;
					}

					@media (max-width: 760px) {
						width: 250px;
					}

					@media (max-width: 400px) {
						width: 220px;
					}

					.stats-item-bar {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						background-color: currentColor;
						border-top-right-radius: 2px;
						border-bottom-right-radius: 2px;

						@media (max-width: 400px) {
							box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
						}
					}
				}
			}

			.stats-hp {
				.stats-item-bar-frame {
					color: @red300;

					.stats-item-bar {
						width: 70%;
					}
				}
			}

			.stats-mp {
				.stats-item-bar-frame {
					color: @blue300;

					.stats-item-bar {
						width: 90%;
					}
				}
			}

			.stats-exp {
				.stats-item-bar-frame {
					color: @yellow300;
				}
			}
		}

		.timeline {
			margin: 48px;
			position: relative;

			@mobileBarWidth: 128px;

			@media (max-width: 760px) {
				margin: 48px 0;
				.clearfix();
			}

			.timeline-bar {
				border-radius: 2px;
				background-color: rgba(255, 255, 255, 0.35);
				counter-reset: year 2010;
				height: 4px;
				margin: 32px 0 48px 0;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
				position: relative;

				@media (max-width: 760px) {
					float: left;
					height: (96px * 8) - 32px;
					width: 4px;
					margin: 0 ((@mobileBarWidth - 4px) / 2);
				}

				@media (max-width: 400px) {
					margin: 0 ((@mobileBarWidth - 4px - 60px) / 2);
				}

				.timeline-bar-dot {
					position: absolute;
					counter-increment: year;
					transform: translate(-50%, -4px);
					color: rgba(255, 255, 255, 0.7);
					transition: color .2s, text-shadow .2s;
					z-index: 1;

					&::before {
						content: '';
						display: block;
						width: 12px;
						height: 12px;
						background-color: rgba(255, 255, 255, 0.65);
						transform: rotate(45deg);
						margin: 0 auto;
						border-radius: 2px;
						box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
						transition: background-color .2s, box-shadow .2s;
					}

					&::after {
						content: counter(year);
						display: block;
						margin: 8px 0 0 0;

						@media (max-width: 760px) {
							padding: 4px 8px;
							background-color: @bluegrey300;
							box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
							border-radius: 2px;
							transition: color .2s, background-color .2s, box-shadow .2s;
						}
					}

					&.active {
						color: rgba(255, 255, 255, 1);
						text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);

						&::before {
							box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.7);
							background-color: rgba(255, 255, 255, 1);
						}

						&::after {
							@media (max-width: 760px) {
								box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.7);
								background-color: @bluegrey50;
								color: rgba(0, 0, 0, 0.65);
							}
						}
					}

					.dotsPosition(@n, @i: 1) when (@i <= @n) {
						&:nth-child(@{i}) {
							left: 12.5% * @i;

							@media (max-width: 760px) {
								left: 2px;
								top: (96px * @i) - 32px;
							}
						}

						.dotsPosition(@n, @i + 1);
					}

					.dotsPosition(7);

					&:nth-child(7) {
						&::after {
							content: 'Now';
						}
					}
				}

				.timeline-bar-segments {
					height: 4px;

					@media (max-width: 760px) {
						width: 4px;
						height: (96px * 8) - 32px;
					}

					.timeline-bar-segment {
						width: 12.5%;
						height: 4px;
						position: absolute;
						top: 0;
						left: 0;
						background-color: @grey100;
						opacity: 0;
						transition: opacity .2s, box-shadow .2s;

						@media (max-width: 760px) {
							width: 4px;
							height: 96px;
						}

						&.active {
							opacity: 1;
							box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.7);
						}

						.segmentsPosition(@n, @i: 1) when (@i <= @n) {
							&:nth-child(@{i}) {
								left: 12.5% * @i;

								@media (max-width: 760px) {
									left: initial;
									top: (96px * @i) - 32px;
								}
							}

							.segmentsPosition(@n, @i + 1);
						}

						.segmentsPosition(6);
					}
				}
			}

			.timeline-items {
				@media (max-width: 760px) {
					width: (360px - @mobileBarWidth) / 2;
					height: 96px * 6;
					float: left;
					position: relative;
					top: 64px;
				}

				.timeline-item {
					position: relative;
					width: 100%;

					@media (max-width: 760px) {
						position: absolute;
					}

					&:nth-child(odd) {
						background-color: rgba(255, 255, 255, 0.05);
					}

					&:nth-child(even) {
						background-color: rgba(255, 255, 255, 0.1);
					}

					.timeline-item-box {
						display: inline-block;
						text-align: center;
						position: relative;
						transition: text-shadow .2s, color .2s;
						color: rgba(255, 255, 255, 0.7);

						@media (max-width: 760px) {
							height: 100%;
						}

						p {
							margin: 0;
							padding: 16px 0;

							@media (max-width: 760px) {
								padding: 16px;
							}
						}

						&:hover, &.active {
							color: rgba(255, 255, 255, 1);
							text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
						}
					}
				}

				.timeline-item-property(@n, @i: 1) when (@i <= @n) {
					.timeline-item-size-@{i} {
						.timeline-item-box {
							width: 12.5% * @i;

							@media (max-width: 760px) {
								width: 100%;
							}
						}

						@media (max-width: 760px) {
							height: 96px * @i;
						}
					}

					.timeline-item-position-@{i} {
						.timeline-item-box {
							left: 12.5% * @i;

							@media (max-width: 760px) {
								left: 0;
							}
						}

						@media (max-width: 760px) {
							top: 96px * (@i - 1);
						}
					}

					.timeline-item-property(@n, @i + 1);
				}

				.timeline-item-property(6);
			}

			.timeline-position {
				.timeline-item {
					.timeline-item-box {
						&::after {
							content: '';
							display: block;
							height: 2px;
							border-radius: 1px;
							background-color: rgba(255, 255, 255, 0.6);
							transition: background-color .2s, box-shadow .2s;
						}

						&:hover, &.active {
							&::after {
								background-color: rgba(255, 255, 255, 1);
								box-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
							}
						}

						@media (max-width: 760px) {
							&::after {
								width: 2px;
								height: 100%;
								background-color: rgba(255, 255, 255, 0);
								position: absolute;
								top: 0;
								right: 0;
							}
						}
					}
				}
			}

			.timeline-job {
				.timeline-item {
					.timeline-item-box {
						&::before {
							content: '';
							display: block;
							height: 2px;
							border-radius: 1px;
							background-color: rgba(255, 255, 255, 0.6);
							transition: background-color .2s;
						}

						&:hover, &.active {
							&::before {
								background-color: rgba(255, 255, 255, 1);
								box-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
							}
						}

						@media (max-width: 760px) {
							&::before {
								width: 2px;
								height: 100%;
								background-color: rgba(255, 255, 255, 0);
								position: absolute;
								top: 0;
								left: 0;
							}
						}
					}
				}
			}
		}
	}

	.section-tags {
		.background-color('lightgrey', 90deg);

		&::before {
			.section-background-text;
			content: 'skills';
			color: @bluegrey500;
			opacity: 0.02;
		}

		.section-content {
			padding: 96px 0;
		}

		.about-tags {
			text-align: center;

			.about-tag {
				display: inline-block;
				font-weight: 300;
				padding: 0 16px 0 4px;
				margin: 8px 4px;
				border-radius: 2px;
				cursor: default;
				vertical-align: middle;
				transition: all .2s;
				color: @bluegrey500;

				&::before {
					display: inline-block;
					vertical-align: top;
					margin: 8px;
					opacity: 0.6;
					-webkit-filter: grayscale(50%);
					filter: grayscale(50%);
					content: '';
					background-size: 100% 100%;
					background-repeat: no-repeat;
					transition: all .2s;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
					color: @bluegrey700;

					&::before {
						opacity: 1;
						-webkit-filter: grayscale(0);
					}
				}

				.maketag(@name) {
					&.tag-@{name} {
						&::before {
							.icon(@name);
						}
					}
				}

				.maketag(angular);
				.maketag(apache);
				.maketag(csharp);
				.maketag(coffeescript);
				.maketag(css);
				.maketag(git);
				.maketag(html);
				.maketag(illustrator);
				.maketag(jade);
				.maketag(js);
				.maketag(jquery);
				.maketag(less);
				.maketag(mercurial);
				.maketag(nodejs);
				.maketag(others);
				.maketag(photoshop);
				.maketag(php);
				.maketag(python);
				.maketag(ruby);
				.maketag(shell);
				.maketag(sql);
				.maketag(swift);
			}
		}

		.about-tags-main {
			font-size: 24px;

			.about-tag {
				height: 64px;
				line-height: 64px;

				&::before {
					width: 48px;
					height: 48px;
				}
			}
		}

		.about-tags-sub {
			font-size: 16px;

			.about-tag {
				height: 42px;
				line-height: 42px;

				&::before {
					width: 26px;
					height: 26px;
				}
			}
		}

		@media(max-width: 760px) {
			.about-tags {
				font-size: 20px;

				.about-tag {
					height: 48px;
					line-height: 48px;

					&::before {
						width: 32px;
						height: 32px;
					}
				}
			}
		}
	}

	.section-footer {
		.background-color('grey', -135deg);
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

		.section-content {
			text-align: center;
			padding: 36px 0;

			p {
				vertical-align: middle;
				font-weight: 300;
				font-size: 18px;
			}

			.separator {
				display: inline-block;
				vertical-align: middle;
				font-size: 32px;
				margin: 0 18px;
			}
		}
	}
}
