@import 'colors';
@import 'library';

* {
	outline: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
	color: rgba(0, 0, 0, 0.87);
}

table {
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

pre {
	padding: 16px;

	code {
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		font-size: 14px;
	}
}

.container {
	margin: auto;
	width: 1160px;

	@media (max-width: 1240px) {
		width: 960px;
	}

	@media (max-width: 1000px) {
		width: 880px;
	}

	@media (max-width: 920px) {
		width: 760px;
	}

	@media (max-width: 760px) {
		width: 360px;
	}

	@media (max-width: 400px) {
		width: 300px;
	}
}

.make-width(@max, @i: 1) when (@i <= @max) {
	@value: unit(@i*100/@max, ~"%");

	.w-@{i} {
		width: @value;
		float: left;

		table & {
			float: none;
		}
	}

	.w-s-@{i} {
		@media (max-width: 760px) {
			width: @value;
			float: left;

			table & {
				float: none;
			}
		}
	}

	.offset-w-@{i} {
		margin-left: unit(@i*100/@max, ~"%");
	}

	.offset-w-s-@{i} {
		@media (max-width: 760px) {
			margin-left: unit(@i*100/@max, ~"%");
		}
	}

	.make-width(@max, @i + 1);
}

.make-width(20);

.row {
	width: 100%;
	.clearfix();
}
