@import 'colors';
@import 'library';

.header {
	background-color: @red500;
	z-index: 1;
	height: 190px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-align: center;

	.shrink-header & {
		position: fixed;
		top: 0;
		height: 64px;
		width: 100%;
	}

	@media (max-height: 750px) {
		position: fixed;
		top: 0;
		height: 64px;
		width: 100%;
	}

	@media (min-width: 1660px) {
		margin: 0 0 0 220px;
	}

	h1 {
		margin: 0;
		padding: 96px 0 0 0;
		color: @white;
		font-size: 48px;
		font-weight: 400;
		transition: font-size .3s, line-height .3s;

		@media (max-height: 750px) {
			padding: 0;
			font-size: 24px;
			line-height: 64px;
		}

		.shrink-header & {
			padding: 0;
			font-size: 24px;
			line-height: 64px;
		}
	}
}
